<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279654255011-jvkssk83ihn82r7901chtok20ml2cs8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279654255011-jvkssk83ihn82r7901chtok20ml2cs8j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279654255011-7foa7ap4iorb6pf3c98jpb6k6accds81.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqjGKow7RczhQBXiY4D_e2gLllJ4fYaXI</string>
	<key>GCM_SENDER_ID</key>
	<string>279654255011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.project</string>
	<key>PROJECT_ID</key>
	<string>memberinfo-b267a</string>
	<key>STORAGE_BUCKET</key>
	<string>memberinfo-b267a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279654255011:ios:5691cc97768685d3737216</string>
	<key>DATABASE_URL</key>
	<string>https://memberinfo-b267a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>